{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class= "sub-text">
            Start your Ai Career Journey
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter Email.."required>
            <input type="password" name="password" placeholder="create password.."required>
            <p class="sub-text">Use atleast 6 characters</p>
            <button type="submit">Sign up</button>        
        </form>
        <p class="switch-auth">
            already have an account?? <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endbloack %}
